##### ignore everything...
/*

##### ...but
!/.gitignore
!/.gitattributes
!/.scrutinizer.yml
!/.travis.yml
!/.phpunit.xml.dist
!/composer.json
!/LICENSE.txt
!/README.md

##### folders
!/_config/
!/client/
!/docs/
!/src/
!/tests/
